<div>
  <h1>Вход</h1>
  <form #loginForm="ngForm">
    <div>
      <h2>Адрес электронной почты</h2>
      <label for="email"></label>
      <input type="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Введите ваш Email"
             required [(ngModel)]="login.userEmail" name="userEmail"
             #userEmailRef="ngModel">
      <div [hidden]="userEmailRef.valid || userEmailRef.pristine"
           class="error-message">
        Не верный Email
      </div>
    </div>
    <div>
      <h2>Пароль</h2>
      <label for="password"></label>
      <input type="password" id="password" pattern="(?=.*\d)(?=.*[A-Z]).{10,}" placeholder="Введите пароль"
             required [(ngModel)]="login.userPassword" name="userPassword"
             #userPasswordRef="ngModel">
      <div [hidden]="userPasswordRef.valid || userPasswordRef.pristine"
           class="error-message">
        Не верный пароль. Пароль должен включать не менее 10 символов, как минимум 1 букву в верхнем регистре и 1 цифру.
      </div>
    </div>
    <button type="submit" [disabled]="!loginForm.form.valid" routerLink="pay" routerLinkActive="active">Submit</button>
    <button type="button" (click)="loginForm.reset()">Reset</button>
  </form>
</div>
